@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

:root{
    --body-margin: 2px; 
    --border-length: 12px
}

/* override browser default */
html,
body {
    margin: var(--body-margin);
    padding: 0;
    height: max(calc(100% - var(--border-length) - 2 * var(--body-margin)));
}

img{
    aspect-ratio: 16,9;
}

body{
    background: #9e1818;
    color: whitesmoke;
    font-family: Noto Sans;
    text-align: center;
    /* margin: auto; */
    /* width: 100vw; */
    /* height: 100vh; */
    border: rgb(248, 192, 192) var(--border-length) double;
}

h1{
    font-size: 1.725rem;
    margin: .5%
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 1.3rem;
}

p{
    margin: auto;
    margin-bottom: var(--border-length);
    font-size: 1rem;
    word-wrap: true;
    width: 70%;
}

#idDivLetter{
    margin: auto;
    font-size: 1.1rem;
    word-wrap: true;
    width: 50%;
}

input[type=text]{
    size: auto;
    width: 7%;
    margin: 10px;
    background-color: #460808;
    font-family: Noto sans;
    border-style: solid;
    border-radius: 10px;
    border: rgb(248, 192, 192) solid 2px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

input[type=number]{
    size: auto;
    width: 7%;
    margin: 10px;
    background-color: #460808;
    font-family: Noto sans;
    border-style: solid;
    border-radius: 10px;
    border: rgb(248, 192, 192) solid 2px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

textarea{
    margin: auto;
    /* width: 7%; */
    background-color: #460808;
    font-family: Noto sans;
    border-style: solid;
    border-radius: 10px;
    color:whitesmoke;
    resize: none;
    border: rgb(248, 192, 192) solid 2px;
    text-align: center;
}

.btn{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-self: flex-start;
    justify-self: center;
    transition: ease-in-out 200ms;
    position: relative;
    background-color: #7a4343;
    color: rgb(255, 127, 127);
    text-align: center;
    font-family: Noto Sans;
    font-size: 1.6rem;
    border-radius: 10px;
    inset: 0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgb(82, 46, 46);
}

.btn::after{
    transition: ease-in-out 100ms;
    background: transparent;
    color: transparent;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 10px 0px 0px rgb(82, 46, 46); 
}


.btn:hover{
    background-color: #6e3d3d;
    transition: ease-in-out 200ms;
    transform: translate(0px, 8px);
    box-shadow: 0 7px 20px 0px rgb(82, 46, 46);
}

.btn:hover::after{
    transition: ease-in-out 100ms;
    box-shadow: 0px 7px 0px 0px rgb(82, 46, 46); 
}

.btn:active{
    background-color: #443535;
    transition: ease-in-out 100ms;
    transform: translate(0px, 12px);
    box-shadow: 0 0px 0px 0px rgb(46, 82, 68);
}

.btn:active::after{
    box-shadow: none; 
}

.btn:active::after{
    box-shadow: none; 
}



select{
    text-align: center;
    font-size: 1.25rem;
    background-color: #460808;
    color:whitesmoke;
    border: rgb(248, 192, 192) solid 2px;
    border-radius: 10px;
}

div.root{
    height: 100%;
    width: 100%;
    padding: 10px;
}

span.customtomo {
    font-size: 1.25rem;
    color: rgb(255, 148, 148);
    font-weight: bold;
}
span.customList{
    color: rgb(255, 91, 91);
    font-weight: bold;
    font-style: italic;
}